<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{/layout/plantilla :: head}"></head>
    <body class="d-flex flex-column min-vh-100">

        <nav th:replace="~{/layout/plantilla :: nav}"></nav>
        
        <section th:if="${tareasActivas != null and !tareasActivas.empty}" class="container m-auto text-center my-5 mb-0 p-3">
            <h1>Tareas Pendientes</h1>
            <table class="table table-striped align-middle">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>Nombre Tarea</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tarea : ${tareasActivas}">
                        <td th:text="${tarea.nombreTarea}"></td>
                        <td th:text="${tarea.descripcion}"></td>
                        <td>
                            <a th:href="@{'/actualizar/' + ${idUsuario} + '/' + ${tarea.idTarea}}" class="btn btn-primary btn-sm w-50 my-3">Editar Tarea</a>
                            <a th:href="@{'/completar/' + ${idUsuario} + '/' + ${tarea.idTarea}}" class="btn btn-success btn-sm">
                                <i class="fas fa-check"></i> 
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section th:if="${tareasInactivas != null and !tareasInactivas.empty}" class="container m-auto text-center pb-5 p-3">
            <h1 class="my-3">Tareas Completadas</h1>
            <table class="table table-striped align-middle">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>Nombre Tarea</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tarea : ${tareasInactivas}">
                        <td th:text="${tarea.nombreTarea}"></td>
                        <td th:text="${tarea.descripcion}"></td>
                        <td>
                            <a th:href="@{'/decompletar/' + ${idUsuario} + '/' + ${tarea.idTarea}}" class="btn btn-success btn-sm">
                                <i class="fas fa-trash-restore mx-1"></i>Restaurar
                            </a>
                            <a th:href="@{'/delete/' + ${idUsuario} + '/' + ${tarea.idTarea}}" class="btn btn-danger btn-sm">Eliminar Tarea</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="container text-center m-auto" th:if="${tareasActivas.empty and tareasInactivas.empty}">
            <iframe src="https://giphy.com/embed/CM1rHbKDMH2BW" width="240" height="180" frameBorder="0" class="giphy-embed rounded" allowFullScreen style="pointer-events: none;"></iframe>
            <div class="h1">Vaya! Parece que no hay ninguna tarea</div>
            <p>Para comenzar, has click en el botón de agregar tarea o en el símbolo de abajo a la derecha!</p>
            <a th:href="@{/crear/}+${idUsuario}" class="btn btn-success">Agregar Tarea</a> 
        </section>
        
        
        <section th:if="${!tareasActivas.isEmpty or !tareasInactivas.empty}" class="add-button">
            <a class="btn btn-success rounded-circle" th:href="@{/crear/}+${idUsuario}">
                <i class="fa-solid fa-plus fs-4 p-3"></i>
            </a>
        </section>
        
        <footer th:replace="~{/layout/plantilla :: footer}"></footer>
    </body>
</html>
